# Jekyll build output
.sass-cache/
.jekyll-cache/
.jekyll-metadata
_site/

# Astro/Bun
node_modules/
dist/
.astro/

# Bundler
vendor/
.bundle/

# OS-specific files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*~
.idea/
.vscode/

# Logs
*.log
