img {
    transition:transform 0.25s ease;
}

@media (hover: hover) and (pointer: fine){
    img:hover {
        -webkit-transform:scale(1.2);
        -moz-transform:scale(1.2);
        transform:scale(1.2);
    }
}

.mark {
    background: rgba(255, 255, 0, 0.349);
    color: inherit;
}

.page-dark-mode .mark {
    background: rgba(82, 82, 79, 0.6);
    color: inherit;
}

a.post-disable-highlight { color: inherit; } 
